*, *:before, *.after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
}

body {
    grid-template-areas: "nav nav nav" "pics text text" "pics info info";
    grid-template-columns: 1fr 1fr 1fr;
}

nav {
    grid-area: nav;
    grid-template-columns: 1fr 1fr 1fr;
}

nav>* {
    display: block;
    align-self: center;
    justify-self: center;
}

nav img {
    height: 20%
}

nav a {
    padding: 4em 0;
    display: inline-block;
    text-decoration: none;
    color: rgb(102, 102, 102);
    align-self: center;
    margin: 0 2.5em;
    font-weight: 500;
}

.icons {
    padding-left: 5em;
}

.icons img {
    height: 2em;
    margin: 0 .5em;
    align-self: center;
}

.images {
    grid-area: pics;
    position: relative;
    grid-template-columns: repeat(24, 1fr);
}

.images img {
    width: 100%;
}

.img-1 {
    grid-row: 1;
    grid-column: 1 / span 16;
}

.img-2 {
    grid-column: 8 / -1;
    grid-row: 1;
    padding-top: 47%;
    z-index: 1
}

.text {
    font-size: 1.5em;
    text-align: center;
    width: 70%;
    grid-area: text;
    font-weight: 300;
}

.info {
    grid-area: info;
    position: relative;
    grid-template-columns: repeat(48, 1fr);
}

.info img {
    width: 100%;
}

.info-text {
    grid-row: 1;
    grid-column: 5 / span 22;
    padding-top: 15%;
    z-index: 1
}

.info-img {
    grid-column: 14 / -1;
    grid-row: 1;
}

.info h1 {
    font-size: 2.8em;
    font-weight: 800;
}

.info-text>div {
    margin-bottom: 1em;
}

.info button {
    display: grid;
    border: none;
    font-size: 1.1em;
    color: #fff;
    background-color: rgb(0, 6, 30);
    border-radius: 30px;
    padding: .3em 2em;
    grid-template-areas: "text text arrow";
    grid-template-columns: 1fr 1fr 1fr;
}

.info button>* {
    align-self: center;
    justify-content: center;
    height: 1.5em;
    margin: auto
}

.info button svg {
    grid-area: arrow;
    margin-left: .5em;
}

.info button div {
    grid-area: text;
    height: auto;
}